@import '~@fontsource/roboto'; // For SCSS

body {
  font-family: 'Roboto', sans-serif;
}

.main-identity-card-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media only screen and (max-width: 768px) and (orientation: landscape) {
    margin: 0 43px 14px;
    align-items: end;
  }

  @media only screen and (max-width: 768px) and (orientation: portrait) {
    margin: 0 43px 14px;
    align-items: end;
  }
  
}